﻿body {
    background-color: orange;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.login-page {
    width: 360px;
    padding: 0 0 0;
    margin: 0 auto 15px;
}
.form {
    position:relative;
    z-index:1;
    background: orange;
    max-width:360px;
    margin: 0 auto 100px;
    padding:45px;
    text-align:center;
}
    .form input {
        font-family:"Roboto", sans-serif;
        outline:1;
        background: #f2f2f2;
        width: 100%;
        border:0;
        margin: 0 0 15px;
        box-sizing: border-box;
        font-size:14px;
    }
    .form button {
        font-family:"Roboto", sans-serif;
        text-transform: uppercase;
        outline:0;
        background: #ab0000;
        width:100%;
        border:0;
        padding:15px;
        color: #FFFFFF;
        font-size 14px;
        cursor:pointer;
    }

    .form .message {
        margin:15px 0 0;
        color:red;
        font-size: 12px;
    }
    .form .message a {
        color: #ff7300;
        text-decoration: none;
    }

.topnav {
  	margin: 0 auto;
    background-color: #333;
    overflow: hidden;
}
	.topnav a {
    	float: left;
    	color: #f2f2f2;
    	text-align: center;
   		 padding: 16px 16px;
    	text-decoration: none;
   		font-size: 20px;
	}
	.topnav a:hover {
    	background-color: #ddd;
    	color: black;
	}
	.topnav a.active {
   		background-color: #ff7300;
    	color: white;
	}

th {
    text-align: left;
}
.default-spacer{
    margin-right:150px;
}